#resultado{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url("../img/nublado.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fundo{
    background-color: #303030;
}
#texttitle{
    color: #f2f2f2;
}
#resultado{
    background-image: none;
}
#logo{
    background-image: url(../img/logoaviao3.png);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 120px;
    width: 120px;
}