#img-clima{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url("../img/nublado.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fundo{
    background-color: #38b6ff;
}
.textyellow{
    color: #eabc17;
}
