#resultado{
    background-image: url(../img/ensoladaro.jpg);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 70vh;
    width: 100vh;
}